.camerasList {
  margin: 0;
  padding: 0;
}
.camera {
  display: flex;
  border-bottom: 1px solid #ccc;
}
.cameraView {
  list-style: none;
  border: 1px solid #ccc;
}
.image {
  flex: none;
  height: 0;
  overflow: hidden;
  padding-bottom: 30%;
  width: 40%;
  position: relative;
}
.image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.imageView {
  position: relative;
}

.imageView img {
  width: 100%;
}
.info {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1em;
  position: relative;
}
.name {
  color: #235aab;
  font-size: 1.875em;
  line-height: 1;
  margin-bottom: .2em;
  padding-right: 40px;
  word-break: break-word;
}
.description {
  font-size: 1.2em;
  padding-right: 40px;
  margin-bottom: 1.5em;
}
.description--hidden {
  display: none;
}

.totalViews {
  color: #999;
  font-size: 1em;
  margin-top: auto;
}
.close {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 36px;
  position: absolute;
  top: 0px;
  left: 5px;
  transition: transform 200ms ease-out;
}
.close:focus {
  outline: none;
}
.close:hover {
  transform: scale(1.2);
  transform-origin: 50% 50%;
}

@media screen and (min-width: 480px) {
  .name {
    padding-right: 60px;
  }
  .description {
    padding-right: 60px;
  }
}