.favorite {
  background: none;
  border: none;
  cursor: pointer;
  height: 3em;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1em;
  top: 1em;
  width: 3em;
  transition: transform 200ms ease-out;
}
.favorite:hover {
  transform: scale(1.1);
}
.favorite:focus,
.favorite:active {
  outline: none;
}

.favorite svg {
  height: 100%;
  width: 100%;
}